.rightWidget {
  flex: 0.6;
  margin-left: 30px;
}

.tableContainer {
  border-spacing: 20px;
  width: 100%;
}
.th {
  text-align: left;
}

.user {
  display: flex;
  align-items: center;
}

.username {
  font-size: 15px;
}

.date {
  font-size: 12px;
}

.amount {
  font-size: 12px;
}
.status {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.status.Approved {
  background-color: #b2ebb5;
}

.status.Declined {
  background-color: #f07e75;
}

.status.Pending {
  background-color: rgb(214, 214, 122);
}
