.singleuserpage {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.editAndButton {
  display: flex;
  justify-content: space-between;
}

.editTitle {
  font-weight: 600;
  font-size: 30px;
}

.createButton {
  padding: 5px 20px;
  background-color: rgb(51, 97, 65);
  border-radius: 10px;
  margin-right: 15px;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.singleUserComponents {
  display: flex;
}
