.leftwidget {
  flex: 0.4;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
}

.userProfile {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.image {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 15px;
}
.profession {
  opacity: 0.6;
  font-size: 12px;
}

.visibility {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 10px;
  opacity: 0.6;
  cursor: pointer;
}

.display {
  margin-left: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}
