.newProductPage {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.newProductTitle {
  font-weight: 600;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.uploadContainer > input {
  margin-top: 10px;
  cursor: pointer;
}

.uploadForm {
  display: flex;
  flex-direction: column;
}

.uploadItem {
  display: flex;
  flex-direction: column;
}

.uploadItem > input {
  margin-top: 10px;
  width: 250px;
  border: none;
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.uploadItem > select {
  margin-top: 10px;
  width: 270px;
  border: none;
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.uploadItem > label {
  margin-top: 10px;
}

.createNewProduct {
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(36, 29, 97);
  cursor: pointer;
}
