.bodyHeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.featured {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  margin-right: 60px;
  cursor: pointer;
}

.amountContainer {
  display: flex;
  align-items: center;
}

.featuredAmount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.compareContainer {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 10px;
}

.compareAmount {
  font-size: 10px;
}

.icon {
  color: red;
}

.compareDesc {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.6;
}

.icon2 {
  color: green;
}
